<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Delete Post</title>

  {{>static}}
  
  <!-- Custom styles for this template -->
  <link href="../css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  {{> nav}}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Alireza Rahimi</h1>
            <span class="subheading">Personal Blog that I share my idea</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <div class="container">
      <h2>Delete Post <span class="badge badge-secondary"></span></h2>
      <hr>
      <br>
        <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">{{post.title}}</h4>
  <p>{{post.content}}</p>
  <hr>
  <p class="mb-0">{{post.created_at}}.</p><br>
  <form action="/delete-post" method="POST">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
</div>        
  </div>

<!-- Footer -->
{{>footer}}

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>
</body>

</html>